<%= content_tag :div, class: 'media list_item_styles', id: item.id do %>
  <div class="media-body">
    <small id="box">
      <span class="item_name"><%= item.name %></span>
      <span class="right">
        <%= link_to "", [@user, item], method: :delete, class: 'fa fa-times checks', remote: true %>
      </span>
      <div id="overlay">
        <span id="countdown"><%= "#{item.days_left} days remaining" %></span>
        <span class="right">
          <%= link_to "", [@user, item], method: :delete, class: 'fa fa-check overlay_checks', remote: true %>
        </span>
      </div>
    </small>
    <hr class="skinny">
  </div>
<% end %>