<!DOCTYPE html>
<html>
<head>
  <title>Markitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <!-- HAMBURGER MOBILE NAV -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main_nav">
      <!-- NAV -->
      <ul class="nav nav-tabs all_things_nav">
        <li><%= link_to "Markitoff", root_path %></li>
        <li><%= link_to "Instructions", instructions_path %></li>

        <!-- MOBILE ONLY -->
        <% if current_user %>
          <li><%= link_to "Tasks", user_path(current_user), class: 'for_mobile_hamburger' %></li>
          <li><%= link_to "Account", edit_user_registration_path, class: 'for_mobile_hamburger' %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'for_mobile_hamburger' %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path, class: 'for_mobile_hamburger' %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: 'for_mobile_hamburger' %></li>
        <% end %>
        
        <!-- DESKTOP ONLY -->
        <div class="pull-right user-info">
          <% if current_user %>
            <%= link_to "Tasks", user_path(current_user) %>
            <%= link_to "Account", edit_user_registration_path %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </ul>
    </div>

    <!-- FLASH MESSAGES -->
    <% if flash[:notice] %>
      <div class="animated fadeInLeft">
        <div class="flash_message delay3s animated fadeOutRight">
          <%= flash[:notice] %>
        </div>      
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger flash_message animated fadeInLeft">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning flash_message animated fadeInLeft">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <!-- VIEW YIELD -->
    <%= yield %>
  </div>
</body>
</html>
